<style>
#<%= "de_#{dashboard_element.id}" -%> {
  position: absolute;
  top: <%= dashboard_element.top -%>px;
  left: <%= dashboard_element.left -%>px;
  width: <%= dashboard_element.width || 400 -%>px;
  height: <%= dashboard_element.height || 300 -%>px;
  min-width: 300px;
  min-height: 200px;
  border: 1px solid silver;
}
</style>
<div id=<%="de_#{dashboard_element.id}" -%>>
<%= render dashboard_element.chart %>
</div>
<script>
$(function() {
    var de_id = <%= dashboard_element.id %>;
    var container = $( <%= "de_#{dashboard_element.id}" %> );
    container.resizable({
//      stop: function(event, ui) {set_size(ui, container.parent().attr('data-de'))}}).draggable({
      stop: function(event, ui) {set_size(ui, de_id)}}).draggable({
      stop: function(event, ui) {set_position(ui, de_id)}});
  });
</script>